<section class="mdk-container">
    <header class="pad-0">
        <app-header />
    </header>

    <main class="container">
        <div class="course-container">
            <h2>
                {{coursTitle}}
            </h2>

            <div class="course-banner">
                <img src="https://fakeimg.pl/600x400/" alt="course image banner">
            </div>
            <button mat-flat-button id="add-to-calendar">Ajouter au calendrier</button>


            <div class="date-and-location">
                <h3>Date et Lieu</h3>
                <p>{{CourseDateAndLocation}}</p>
            </div>

            <div class="overview">
                <h3>Vue d'ensemble</h3>
                <p>{{courseCompleteDescription}}</p>
            </div>

            <div class="course-author-picture">
                <img src="https://fakeimg.pl/600x400/" alt="course author profile picture">
            </div>

            <div class="registration">
                <h3>Comment s'enregistrer ?</h3>
                <p>{{courseRegistrationDetails}}</p>
            </div>

            <div class="target-audience">
                <h3>Audience cible</h3>
                <p>{{courseTargetAudience}}</p>
            </div>

            <div class="objectives">
                <h3>Objectifs du cours</h3>
                <p>{{courseObjectives}}</p>
            </div>

            <div class="activity-questions">
                <h3>Pour toutes les questions liées à cette activité, veuillez contacter:</h3>
                
                    <ul>
                        @for (item of courseQuestion; track item) {
                            <li>Nom: {{item.name}}</li>
                            <li>Poste: {{item.Title}}</li>
                            <li>Email: {{item.Email}}</li>
                          }
                    </ul>
                 
                
            </div>

        </div>
    </main>

    <footer>
        <app-footer />
    </footer>
</section>