@if(errorMessage()){
    <div class="alert alert-danger p-5 m-5">
        {{errorMessage()}}
    </div>
}

@else {
    <div class="container">

        @if(!dataLoaded){
            <app-loading-spinner [visible]="true" />
        }@else{
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
    
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name ||  "Not set"}} </td>
            </ng-container>
    
            
            <ng-container matColumnDef="instructor">
                <th mat-header-cell *matHeaderCellDef> Instructeur </th>
                <td mat-cell *matCellDef="let element"> {{element.instructor || "Medikus, I"}} </td>
            </ng-container>
    
            <!-- Role Column -->
            <ng-container matColumnDef="subscribers">
                <th mat-header-cell *matHeaderCellDef> Abonnés </th>
                <td mat-cell *matCellDef="let element"> {{ "0"}} </td>
            </ng-container>
    
         <!-- Action Column -->
         <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="goTo(element.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
    
          
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Select page of courses"></mat-paginator>
    }
    </div>
}

