<header class="pad-0">
    <app-header />
</header>

<mat-card class="container my-3 ">
    <mat-card-content class="mdk-container">
        <div class="rounded left not-mobile" style="background-image: url('info-banner.webp');">
            <mat-card>
                <mat-card-content>
                    {{actualText() | uppercase}}
                </mat-card-content>
            </mat-card>
        </div>
        <div class="right d-flex align-items-center justify-content-center">

            <mat-card class="my-2 p-2">
                <mat-card-content>
                    @if(actualText() == "inscription"){
                    <app-inscription-form />
                    }
                    @else{
                    <app-login-form />
                    }
                </mat-card-content>
                <mat-card-footer>
                    <div class="d-flex flex-column align-items-center justify-content-center my-3">
                        <small class="text-center my-3"><em>{{socialTexte()}} </em></small> <br>
                        <button mat-icon-button>
                            <img width="48" height="48" src="https://img.icons8.com/color/48/google-logo.png"
                                alt="google-logo" />
                        </button>
                    </div>

                </mat-card-footer>
            </mat-card>





        </div>
    </mat-card-content>
</mat-card>
<footer>
    <app-footer />
</footer>