@media (max-width: 760px){
    .card-container{
        display: flex !important;
        flex-direction: column;

        .left{
            align-items: start !important;
        }
    }
}

mat-form-field{
    max-width: 400px;
}

.card-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

