<mat-card class="my-3 course-info-box">
    <mat-card-header>
        <p mat-card-title>Les dates de ce cours donné en présentiel</p>
    </mat-card-header>
    <mat-card-content>
        <section class="mdk-calendar">
            <ul>
                @for(date of dates; track $index){
                <div class="d-flex justify-content-start align-items-center" style="gap: 10px;">
                    <li>Le {{date | formatDate: false}}</li>
                    <button type="button" mat-stroked-button  (click)="addToAgenda(date)"> Ajouter à Google Agenda</button>
                </div>
        
                }
            </ul>
        
        </section>
    </mat-card-content>
</mat-card>
