@media (max-width: 760px) {
    .alrt {
        display: flex;
        flex-wrap: wrap;
    }
}

a {
    cursor: pointer;
    padding: 0 5px;
    font-style: italic;

}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure the container takes up at least the full viewport height */
}

.app-container>div {
    /* Selects the router outlet container */
    flex: 1;
    /* Allows the content to grow and take up available space */
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  