<app-header />
<div [ngClass]="{'container mt-4': !mobile(), 'container-mobile': mobile()}">
  @if (loading) {
    <div class="d-flex flex-column justify-content-center align-items-center">
      <mat-spinner></mat-spinner>
    </div>
  } @else if (post) {
    <div [ngClass]="{'d-flex': mobile()}">
      <mat-card [ngStyle]="{'padding: 0.3rem': mobile()}">
        <mat-card-header class="my-2">
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle>
            Par {{ post.author }} le {{ post.pub_date! | formatDate }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image [src]="hs.getImgUrl(post.postImg!)" alt="article banner" width="100%" class="my-2">
          <p class="description">{{ post.description }}</p>
          <hr>
          <div [innerHTML]="sanitizedContent" class="editor-sanitized-content"></div>
          @if (post.tags && post.tags.length > 0) {
            <p>
              @for (tag of post.tags; track tag) {
                <span class="badge bg-info me-1 my-2">{{ tag }}</span>
              }
            </p>
          }
        </mat-card-content>
        <mat-card-actions>
          @if (authService.isAdmin()) {
            <a routerLink="/blog/posts/edit/{{post.id}}" mat-button
              color="accent">
              <mat-icon>edit</mat-icon> Modifier (Admin)
            </a>
            <button mat-button color="warn" (click)="deletePost(post.slug!)">
              <mat-icon>delete</mat-icon> Supprimer
            </button>
          }
        </mat-card-actions>
      </mat-card>

      @if (authService.isAuthenticated()) {
        } @else {
        }
    </div>
  } @else {
    <div class="alert alert-danger mt-4">
      Article non trouvé.
    </div>
  }
</div>