<header class="pad-0">
  <app-header />
</header>

<main class="my-5">
  <div class="events-container">
    <h2 class="section-title">Les prochaines activités</h2>

    <div class="filter-section">
      <mat-form-field>
        <mat-label>Filtrer les cours par leur date:</mat-label>
        <mat-select (selectionChange)="filterCourses($event)">
          <!-- Use consistent number values for filtering logic -->
          <mat-option [value]="0">Tous les cours</mat-option>
          <mat-option [value]="7">Semaine prochaine</mat-option>
          <mat-option [value]="14">2 semaines</mat-option>
          <mat-option [value]="21">3 semaines</mat-option>
          <mat-option [value]="28">4 semaines</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h3 class="text-center">Les cours à ne pas rater</h3>

    <div class="course-cards">
      <!-- Show spinner while data is loading -->
      @let courses = upcomingCourses();
      @if (!courses) {
      <mat-progress-spinner mode="indeterminate" />
      } @else if (filteredCourses().length > 0) {
      <!-- Loop through filtered courses -->
      @for (course of filteredCourses().slice(0, 5); track course.id) {
      <mat-card appearance="outlined" class="course-card" [routerLink]="'/learn/' + course.id">
        <div class="card-header-section">
          <mat-card-header>
            <mat-card-title>{{ course.name }}</mat-card-title>
            <mat-card-subtitle>{{ course.date | date }}</mat-card-subtitle>
          </mat-card-header>
        </div>

        <div class="card-image-section">
          <div class="course-image" [style.background-image]="'url(' + getImgUrl(course.imgUrl) + ')'"></div>
        </div>

        <mat-card-actions class="card-button-section">
          <button mat-raised-button color="primary" [routerLink]="'/learn/' + course.id">En Savoir Plus</button>
        </mat-card-actions>
      </mat-card>
      }
      } @else {
      <p class="no-events">No upcoming courses matching the filter.</p>
      }
    </div>

    <div class="webinar-section">
      <h3 class="event-type-title">Les webinaires à ne pas rater</h3>
      <div class="filter-section">
        <mat-form-field>
          <mat-label>Filtrer les webinaires par leur date de début:</mat-label>
          <mat-select (selectionChange)="filterWebinaires($event)">
            <!-- Use consistent number values for filtering logic -->
            <mat-option [value]="0">Tous</mat-option>
            <mat-option [value]="7">Semaine prochaine</mat-option>
            <mat-option [value]="14">Prochaines 2 semaines</mat-option>
            <mat-option [value]="21">Prochaines 3 semaines</mat-option>
            <mat-option [value]="28">Prochaines 4 semaines</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="course-cards">
        @let webinaires = upComingWebinaires();
        @if (!webinaires) {
        <mat-progress-spinner mode="indeterminate" />
        } @else if (filteredWebinaires().length > 0) {
        @for (webinaire of filteredWebinaires().slice(0, 5); track webinaire.id) {
        <mat-card class="course-card" [routerLink]="'/learn/webinaires/' + webinaire.id">
          <mat-card-header>
            <mat-card-title>{{ webinaire.title }}</mat-card-title>
            <mat-card-subtitle>{{ webinaire.date | date }}</mat-card-subtitle>
          </mat-card-header>

          <div class="card-image-section" >
            <div class="course-image" [style.background-image]="'url(' + getImgUrl(webinaire.imageUrl!) + ')'"></div>
          </div>

          <!-- mat-card-actions should not be wrapped in mat-card-footer -->
          <mat-card-actions class="card-button-section">
            <button mat-raised-button color="primary" [routerLink]="'/learn/webinaires/' + webinaire.id">En Savoir Plus</button>
          </mat-card-actions>
        </mat-card>
        }
        } @else {
        <p class="no-events">No upcoming webinars at this time.</p>
        }
      </div>
    </div>
  </div>
</main>
