

<main class="container">
    <div class="catalogue-header">
        <mat-form-field class="searchContainer" appearance="outline">
            <mat-label>Chercher un programme</mat-label>
            <input matInput type="text" [(ngModel)]="searchValue.value">
            <button matSuffix mat-icon-button aria-label="search" (click)="search()" class="search-btn m-2">
                <mat-icon class="">search</mat-icon>
            </button>

        </mat-form-field>
    </div>
    <mat-card class="my-3">
        <mat-card-content>
            <section class="mdk-container">
                <div class="left bg-primary">

                </div>

                <div class="right bg-danger">

                </div>
            </section>
        </mat-card-content>
    </mat-card>
</main>


<footer>
    <app-footer />
</footer>