
<mat-accordion [formGroup]="formParent">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Module {{ module.get('title')?.value || 'Nouveau Module' }}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="outline" class="m-1">
        <mat-label for="title">Titre du module:</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="m-1">
        <mat-label for="link">Lien du module:</mat-label>
        <input matInput formControlName="link" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="m-1">
        <mat-label for="contentType">Type de contenu:</mat-label>
        <mat-select formControlName="contentType" (selectionChange)="onContentTypeChange()" required>
          <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngTemplateOutlet="contentTypeTemplates; context: { contentType: module.get('contentType')?.value, module: module }"></ng-container>
  
      <ng-template #questionsTemplate let-module="module">
          <app-questions-form [module]="module"></app-questions-form>
      </ng-template>
  
      <ng-template #otherContentTypeTemplate let-module="module">
          <div>Other content type</div>
      </ng-template>
  
      <ng-template #contentTypeTemplates let-contentType="contentType" let-module="module">
          <ng-container *ngIf="contentType === 'Questions'; then questionsTemplate; else otherContentTypeTemplate"></ng-container>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>