<header class="pad-0">
  <app-header />
</header>

@if(config()){
<main class="d-flex" [class.ruban-horizontal]="isRubanHorizontal()">
  @if(showRuban()){
    <section class="left d-flex" [class.flex-column]="!isRubanHorizontal()" [class.flex-wrap]="isRubanHorizontal()">
    @for (obj of ruban(); track $index) {
      <div
        class="action-btn d-flex justify-content-start align-items-center p-3 my-1"
        [ngClass]="{'prev-btn': obj.icon == 'skip_previous' && isRubanHorizontal()}"
        matRipple
        (click)="obj.icon === 'skip_previous' || obj.icon === 'skip_next' ? toggleRuban() : null"
        [routerLink]="obj.link"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon [matTooltip]="obj.title" >{{ obj.icon }}</mat-icon>
        
        @if (!mobile() && bp.rubanExpanded()) {
          <span class="icon-text">{{ obj.title }}</span>
        }
      </div>
    }
  </section>
  }
  
  <section class="right">
    <router-outlet name="admin"></router-outlet>
  </section>
</main>
}


