<div class="webinaire-form-container">
    <h2 class="form-title">Créer un nouveau Webinaire</h2>

    @if(errorMessage()){
        <div class="alert alert-danger">
            {{errorMessage()}}
        </div>
    }
    @if(successMessage()){
        <div class="alert alert-success">
            {{successMessage()}}
        </div>
    }
  
    <form [formGroup]="newWebinaireFormGroup" (ngSubmit)="saveForm()" class="webinaire-form">
      <mat-form-field appearance="outline" class="form-field" >
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Enter title" required>
        <mat-icon matSuffix>title</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Video Link</mat-label>
        <input matInput formControlName="videoLink" placeholder="Enter video link" required>
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-icon matSuffix>calendar_today</mat-icon>
      </mat-form-field>

        <div class="form-field required">
            <label for="description-field">Description</label>
            <div class="m-1" class="app-editor" id="description-field">
                <app-editor formControlName="description" />
            </div>
        </div>
      
      
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" class="save-button" [disabled]="newWebinaireFormGroup.invalid">Save Webinaire</button>
      </div>
    </form>
  </div>