.default-profile {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color */
    font-weight: bold;
    border-radius: 50%; /* Makes it circular */
    font-size: 20px; /* Font size for initials */
    cursor: pointer;
    user-select: none;
  }
  .thumbnail {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    cursor: pointer;
    user-select: none;
  }
  .rounded {
    border-radius: 50%; /* Makes the image circular */
  }