<footer class="mdk-footer">
    <div class="footer-content">
      <p class="copyright">
        &copy; <span [innerHTML]="currentYear"></span> Medikus Impulse
      </p>
      <div class="footer-links">
        <a routerLink="/privacy" aria-label="Privacy Policy" mat-button>Politique de Confidentialité  </a>
        <a routerLink="/terms" aria-label="Terms of Service" mat-button>Conditions d'Utilisation</a>
        <a routerLink="/contact" aria-label="Contact Us" mat-button>Contactez-nous</a>
      </div>
    </div>
  </footer>